<div id="wrapper">
    <div ng-include="'client/views/zh/sidebar.ng.html'"></div>

    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom" ng-include="'client/views/zh/topbar.ng.html'"></div>
        <div class="row wrapper border-bottom white-bg page-heading" ng-include="'client/views/zh/headbar.ng.html'"></div>
        <div class="row border-bottom white-bg dashboard-header">
            <h1 style="text-align:center;">歡迎使用 匡智數碼遊踪系統</h1>

        </div>
    </div>
</div>
