<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <a href="/">
                <li class="nav-header" style="padding:30px 10px;">
                    <div>
                        <h1 style="color:#FFF;text-align:center;">匡智數碼遊踪管理系統</h1>
                    </div>
                </li>
            </a>
            <li ui-sref="recordsByStudents" ui-sref-active="active">
                <a ui-sref="recordsByStudents"><i class="fa fa-table"></i><span class="nav-label">學生活動記錄</span></a>
            </li>
            <li ui-sref="recordsByActivities" ui-sref-active="active">
                <a ui-sref="recordsByActivities"><i class="fa fa-table"></i><span class="nav-label">活動記錄</span></a>
            </li>
            <li ui-sref="managePlacenQs" ui-sref-active="active">
                <a ui-sref="managePlacenQs"><i class="fa fa-edit"></i><span class="nav-label">管理活動及問題</span></a>
            </li>
            <!--<hr>
            <li ui-sref="students" ui-sref-active="active">
                <a ui-sref="students"><i class="fa fa-edit"></i><span class="nav-label">Manage student</span></a>
            </li>
            <li ui-sref="sessions" ui-sref-active="active">
                <a ui-sref="sessions"><i class="fa fa-edit"></i><span class="nav-label">Manage session</span></a>
            </li>
            <li ui-sref="places" ui-sref-active="active">
                <a ui-sref="places"><i class="fa fa-edit"></i><span class="nav-label">Manage places</span></a>
            </li>
            <li ui-sref="submissions" ui-sref-active="active">
                <a ui-sref="submissions"><i class="fa fa-edit"></i><span class="nav-label">Submission records</span></a>
            </li>-->
        </ul>
    </div>
</nav>
