<nav class="navbar navbar-static-top" role="navigation" style="margin:0;">
    <ul class="nav navbar-top-links navbar-right">
        <li>
            <blaze-template name="loginButtons"></blaze-template>
        </li>

        <select id="languageOptions" onchange="changeLanguage(this.value)">
            <option id="en" value="en">English</option>
            <option id="zh" value="zh">中文</option>
        </select>

        <script>
            var initLanguageOption = function(){
                var lang = Cookie.get('LANG');
                document.getElementById(lang).selected = true;
            }();

            var changeLanguage = function(param){
                if(Cookie.get('LANG') != param){
                    Cookie.set('LANG', param);
                    window.location.reload(true);
                }
            };
        </script>

        <li>
            <a class="right-sidebar-toggle">
                <i class="fa fa-tasks"></i>
            </a>
        </li>
    </ul>

</nav>
