<div id="wrapper">
    <div ng-include="'client/views/sidebar.ng.html'"></div>

    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom" ng-include="'client/views/topbar.ng.html'"></div>
        <div class="row wrapper border-bottom white-bg page-heading" ng-include="'client/views/headbar.ng.html'"></div>
        <div class="wrapper wrapper-content">
            <div class="row border-bottom white-bg dashboard-header">
                <div>{{place.name}}</div>

                <form>
                    <label>name</label>
                    <input ng-model="place.name">
                    <br>
                    <label>directions</label>
                    <textarea ng-model="place.direction"></textarea>
                    <br>
                    <div class="place-details-maps">
                        <label>Coordinates: {{place.location.latitude || "Not set"}},{{place.location.longitude || "Not set"}}</label><br/>
                        <label>Click on the map to set the coordinates</label>
                        <div class="angular-google-map-container">
                            <ui-gmap-google-map center="place.location.center || map.center"
                                                events="map.events" zoom="place.location.zoom || map.zoom">
                                <ui-gmap-marker coords="place.location" options="map.marker.options"

                                                events="map.marker.events" idkey="place._id">
                                </ui-gmap-marker>
                            </ui-gmap-google-map>

                        </div>
                        <qrcode data="{{place._id._str}}" size="274" download></qrcode>
                    </div>
                </form>

            </div>


          <div class="row border-bottom white-bg dashboard-header">
            Edit Multiple Questions
            <ul>
              <li>{{questions.length}}</li>
            </ul>
            <input type="type" placeholder="question" ng-model="newq.prompt">
            <br>
            <input type="type" placeholder="ChoiceA" ng-model="newq.choiceA">
            <input type="type" placeholder="ChoiceB" ng-model="newq.choiceB">
            <input type="type" placeholder="ChoiceC" ng-model="newq.choiceC">
            <input type="type" placeholder="ChoiceD" ng-model="newq.choiceD">
            <select ng-model="newq.answer">
                <option value="">---Please select---</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
            </select>

            <button ng-click="addQ(newq)">Add</button>
            <br><br><br>
            <div ng-repeat="q in questions">
              <input type="type" ng-model="q.place">
              <input type="type" ng-model="q.prompt">
              <input type="type" ng-model="q.answer">
              <input type="type" ng-model="q.choices.data">
            </div>
          </div>


        </div>
    </div>
</div>
