<div class="white-bg">
    Questions-Students Table
    {{activityId}}
    <div class="table-responsive">
        <table class="table" style="height:100%;">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th ng-repeat="student in students">
                        {{student.username}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="q in questions">
                    <th>Q{{$index + 1}}</th>
                    <!--<td ng-repeat="submission in submissions| filter:{'question':q._id}">
                        <span ng-if="submission.data">{{submission.data}}</span>
                    </td>-->
                    <td ng-repeat="student in students">
                        <span ng-repeat="submission in submissions| filter:{'question':q._id, 'student':student._id}">{{submission.data}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
