<div id="wrapper">
    <div ng-include="'client/views/sidebar.ng.html'"></div>
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom" ng-include="'client/views/topbar.ng.html'"></div>
        <div class="row wrapper border-bottom white-bg page-heading" ng-include="'client/views/headbar.ng.html'"></div>

        <div class="wrapper wrapper-content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="ibox box-primary">
                        <h3 class="ibox-title">Depolyed Activities List</h3>
                        <div class="ibox-content">
                            <li ng-repeat="activity in deployedActivities"><a ng-click="popup('recordsByActivities/'+activity._id);">{{activity.name}}</a></li>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="ibox box-primary">
                        <h3 class="ibox-title">Undepolyed Activities List</h3>
                        <div class="ibox-content">
                            <ul>
                                <li ng-repeat="activity in undeployedActivities"><a ng-click="popup('recordsByActivities/'+activity._id);">{{activity.name}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
