<div class="white-bg">
    Questions-Students Table
    {{activityId}}
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Student A
                    </th>
                    <th>
                        Student B
                    </th>
                    <th>
                        Student A
                    </th>
                    <th>
                        Student B
                    </th>
                    <th>
                        Student A
                    </th>
                    <th>
                        Student B
                    </th>
                    <th>
                        Student A
                    </th>
                    <th>
                        Student B
                    </th>
                    <th>
                        Student A
                    </th>
                    <th>
                        Student B
                    </th>
                    <th>
                        Student A
                    </th>
                    <th>
                        Student B
                    </th>
                    <th>
                        Student A
                    </th>
                    <th>
                        Student B
                    </th>
                    <th>
                        Student A
                    </th>
                    <th>
                        Student B
                    </th>
                    <th>
                        Student A
                    </th>
                    <th>
                        Student B
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Q1</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Q2</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
