<div id="wrapper">
    <div ng-include="'client/views/sidebar.ng.html'"></div>
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom" ng-include="'client/views/topbar.ng.html'"></div>
        <div class="row wrapper border-bottom white-bg page-heading" ng-include="'client/views/headbar.ng.html'"></div>

        <div class="wrapper wrapper-content">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h2>Student_Activities Table</h2>
                </div>

                <div class="ibox-content">

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width:50px;">
                                        #
                                    </th>
                                    <th style="width:80px;" ng-repeat="activity in activities">
                                        {{activity.name}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="student in students">
                                    <th>{{student.username}}</th>
                                    <td ng-repeat="activity in activities">
                                        <div style="width:50px;">

                                        <a href="recordsByStudents/{{student._id}}/{{activity._id}}" onclick="return false;" ng-click="popup('recordsByStudents/' + student._id + '/' + activity._id);">
                                            Report
                                        </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
