<div class="white-bg">
    <div class="ibox-content ibox-heading">
    <h3>{{students[0].username}} {{activities[0].name}} Detail Report</h3>
    <small><i class="fa fa-thumb-tack"></i> <span ng-bind-html="activities[0].instruction"></span></small>
    </div>

    <div class="item" ng-repeat="q in questions">
        <div class="message">
            <h4>Question {{$index + 1}}:</h4>
            <p ng-bind-html="q.prompt"></p>
        </div>
        <div class="alert alert-warning">
            <h4>Student Answer:</h4>

            <span ng-if="q.type==2">
                <img src="{{getSubmissionAns(q._id)}}">
            </span>
            <span ng-if="q.type==1 && q.type == 3 && q.type==4">
            {{getSubmissionAns(q._id)}}
            </span>
            <span ng-if="q.type==0">
                <i ng-class="checkAnswer(q) ? 'fa fa-check' : 'fa fa-times'"></i>
            </span>

            <div ng-if="q.type !=0" id="teacherFeedback" class="alert alert-warning" style="padding:0px;">
                Feedback:
                <i ng-class="getSubmission(q._id).teacher_response == 1 ? 'fa fa-smile-o fa-lg text-warning': 'fa fa-smile-o'" ng-click="setTeacherResponse(getSubmission(q._id)._id, 1)"></i>
                <i ng-class="getSubmission(q._id).teacher_response == 0 ? 'fa fa-frown-o fa-lg text-warning': 'fa fa-frown-o'" ng-click="setTeacherResponse(getSubmission(q._id)._id, 0)"></i>
                <i ng-class="getSubmission(q._id).teacher_response == 2 ? 'fa fa-circle-o fa-lg text-warning': 'fa fa-circle-o'" ng-click="optionClick=true; setTeacherResponse(getSubmission(q._id)._id, 2)"></i>
                <div>
                    <input style="width:145px;" type="text" ng-show="optionClick" ng-model="getSubmission(q._id).response_detail">
                </div>
            </div>

        </div>
     </div>

</div>
