<div id="wrapper">
    <div ng-include="'client/views/sidebar.ng.html'"></div>

    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom" ng-include="'client/views/topbar.ng.html'"></div>
        <div class="row border-bottom white-bg dashboard-header">
            <div>In the page of sessions</div>

            Add a session
            <form>
                <label>name</label>
                <input ng-model="newSession.name">
                <label>description</label>
                <input ng-model="newSession.description">
                <button ng-click="createSession(newSession)">Add</button>
            </form>
        </div>
    </div>
</div>