<div id="wrapper">
    <div ng-include="'client/views/sidebar.ng.html'"></div>

    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom" ng-include="'client/views/topbar.ng.html'"></div>
        <div class="row wrapper border-bottom white-bg page-heading" ng-include="'client/views/headbar.ng.html'"></div>
        <div class="wrapper wrapper-content">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5>Add New Student</h5>
              </div>
              <div class="ibox-content">
                  <form role="form" class="form-inline">
                      <div class="form-group">
                          <label for="newUsername" class="sr-only">Username</label>
                          <input id="newUsername" placeholder="New Username" class="form-control" ng-model="newStu.username">
                      </div>
                      <div class="form-group">
                          <label for="newPassword" class="sr-only">Password</label>
                          <input id="newPassword" placeholder="Password" class="form-control" ng-model="newStu.password">
                      </div>
                      <div class="form-group">
                          <label for="newName" class="sr-only">Name</label>
                          <input id="newName" placeholder="Name" class="form-control" ng-model="newStu.name">
                      </div>
                      <div class="form-group">
                          <label for="newDOB" class="sr-only">Date of Birth</label>
                          <input id="newDOB" placeholder="Date of Birth" class="form-control mdatepicker" ng-model="newStu.dob">
                      </div>

                      <button class="btn btn-white" ng-click="createStu(newStu); newStu='';">Add</button>
                  </form>
              </div>
          </div>

          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5>Edit Existing Students</h5>
              </div>
              <div class="ibox-content">
                <form role="form" class="form-inline">
                  <div ng-repeat="stu in studs">
                    <div class="form-group">
                        <label>Username</label>
                        <input class="form-control" ng-model="stu.username">
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" ng-model="stu.name">
                    </div>
                    <div class="form-group">
                        <label>Date of Birth</label>
                        <input class="form-control mdatepicker" ng-model="stu.dob">
                    </div>
                    <button class="btn btn-white" ng-click="save(stu)">Save</button>
                  </div>
                </form>
              </div>
          </div>

      </div>
    </div>
</div>
