<div id="wrapper">
    <div ng-include="'client/views/sidebar.ng.html'"></div>

    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom" ng-include="'client/views/topbar.ng.html'"></div>
        <div class="row wrapper border-bottom white-bg page-heading" ng-include="'client/views/headbar.ng.html'"></div>
        <div class="wrapper wrapper-content">
          <div class="row border-bottom white-bg dashboard-header">
            <div>
              Test Submission(For test only)
              <input type="text" placeholder="Grade" ng-model="newSub.grade">
              <label>question</label>
              <select ng-model="newSub.qs">
                  <option value="">---Please select---</option>
                  <option ng-repeat="q in questions" value="{{q._id._str}}">{{q.prompt}}</option>
              </select>
              <label>student</label>
              <select ng-model="newSub.stu">
                  <option value="">---Please select---</option>
                  <option ng-repeat="stu in studs" value="{{stu._id}}">{{stu.name}}</option>
              </select>
              <input type="text" placeholder="Data" ng-model="newSub.data">
              <button class="btn" ng-click="addSub(newSub); newSub='';">Add Submission</button>

            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Number of Submissions</th>
                        <th>Last Submissions</th>
                        <th>View Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="stu in studs">
                        <td>{{$index + 1}}</td>
                        <td>{{stu.name}}</td>
                        <td>{{getSubmissionNumber(stu)}}</td>
                        <td>{{getLastSubmission(stu)}}</td>
                        <td><a ng-click="popup(stu._id);">View</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>


          </div>
        </div>
    </div>
</div>
