<div id="wrapper">
    <div ng-include="'client/views/sidebar.ng.html'"></div>

    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom" ng-include="'client/views/topbar.ng.html'"></div>
        <div class="row wrapper border-bottom white-bg page-heading" ng-include="'client/views/headbar.ng.html'"></div>
        <div class="wrapper wrapper-content">
          <div class="row border-bottom white-bg dashboard-header">
            <div>In the page of submissions</div>
            <table>
              <tr ng-repeat="user in users">
                <td>{{user.username}}</td>
                <td></td>
                <td><a ng-click="popup(user._id);">View</a></td>
              </tr>
            </table>
            <ul ng-repeat="sub in submissions">

                <li>{{sub}}</li>

                  <form>
                    <label>sub</label>
                    <input ng-model="sub.user">

                  </form>
                  <div class="col-xs-4 ma-add-button-container">
                    <button class="btn" ng-click="">Add</button>
                  </div>
            </ul>
          </div>
        </div>
    </div>
</div>
